.guess-the-word{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.message{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

button{
    cursor: pointer;
}